{
  "plugins": [
    "prettier-plugin-tailwindcss",
    "@ianvs/prettier-plugin-sort-imports"
  ],
  "tailwindPreserveWhitespace": true,
  "importOrder": [
    "^react$",
    "<THIRD_PARTY_MODULES>",
    "^convex/(.*)$",
    "@/convex/(.*)$",
    "^[.]",
    "@/components/(.*)$",
    "@/lib/(.*)$",
    "@/hooks/(.*)$",
    "@/types/(.*)$",
    "@/features/(.*)$"
  ]
}
